.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    /* Ensure it's above other content */
    cursor: pointer;
}

.hamburger-icon {
    width: 50px;
    /* Adjust size as needed */
    height: auto;
    display: block;
}